/* Use consistent background color variable */
:root {
  --background-color: rgb(60, 60, 60);
  --secondary-color: #030303;
  --accent-color: #661417;
  --accent-color-light: #a61d1d;
  --accent-color-dark: #3d0c0c;
  --search-bar-color: #cacaca;
  --search-bar-color-light: #e6e6e6;
  --search-bar-color-dark: #b3b3b3;
  --search-bar-height: 45px;
  --search-bar-top-bottom-margin: 15px;
}

* {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

/* https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html */
html {
  scroll-behavior: smooth;
  overflow-y: scroll !important;
}

.modal-open {
  padding-right: 0 !important;
}

body {
  background-color: var(--background-color);
  background-image: url("../images/pattern-randomized.png");
  /* background by SVGBackgrounds.com */
  /* TODO Get the SVG and extend it? */
  background-size: contain;
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.custom-shadow {
  box-shadow: 0.2rem 0.4rem 0.5rem black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  position: relative;
  height: 425px;
  width: 100%;
  text-align: center;
}

.main-curtain {
  background-image: url("../images/header-images/backdrop-curtain-rev1.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 100% 100%;
  background-color: #0303037d;
  height: 425px;
  width: 100%;
  position: absolute;
  top: 0;
}

.side-curtains {
  position: absolute;
  width: auto;
  height: 525px;
  z-index: 100;
  top: -40px;
}

.left-curtain {
  left: -10px;
  transition: 1s ease-in-out;
}

.right-curtain {
  right: -10px;
  transform: scaleX(-1);
  transition: 1s ease-in-out;
}

/* https://stackoverflow.com/questions/4296012/hide-div-if-screen-is-smaller-than-a-certain-width */
@media screen and (max-width: 1000px) {
  .left-curtain,
  .right-curtain {
    display: none !important;
  }
}

header:hover .left-curtain {
  left: -80px;
}

header:hover .right-curtain {
  right: -80px;
}

#header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
}

#cinemasearch-banner-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  max-height: 200px;
}

#header-items img {
  max-height: 100%;
  max-width: 100%;
  margin: 20px auto;
  padding: 0;
}

#quote-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 75%;
  cursor: pointer;
  margin: 2rem auto;
  scale: 1;
  padding: 15px;
  transition: 0.3s ease-in-out;
}

#quote-div:hover {
  background-color: #0303037d;
  border-radius: 10px;
  scale: 1.05;
  transition: 0.3s ease-in-out;
}

#quote-div p {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  color: white;
}

#quote-div span {
  color: white;
}

#quote-text {
  font-size: 1.4rem !important;
  font-style: italic;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

#search-bar {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  width: 80%;
  height: 100%;
}

/* Dropdown Overwrites */
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.dropdown-toggle::after {
  transform: scale(1.5);
  margin-left: auto;
  margin-right: 0.5rem;
}

.dropdown-menu {
  width: inherit;
  z-index: 200;
}
/* END Dropdown Overwrites */

/* Search Type Bar */
#search-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: fit-content;
  height: 100%;
  margin: var(--search-bar-top-bottom-margin) auto;
}

#search-type div {
  height: var(--search-bar-height);
}

/* Add hover darkening */
#media-selection,
#search-by-selection {
  color: black;
  height: 100%;
  width: 150px;
  margin: auto;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

#media-selection {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-by-selection {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* END Search Type Bar */

/* Title Search Bar */
#title-search {
  height: var(--search-bar-height);
  width: 50%;
  min-width: 300px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: var(--search-bar-top-bottom-margin) auto;
}

#title-search-input {
  width: 100%;
  height: 100%;
  padding: 0px 0.5rem;
  text-align: center;
  color: #030303;
}
/* END Title Search Bar */

/* Discover Search Bar */
#discover-search-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.discover-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: fit-content;
  height: 100%;
  position: relative;
  margin: var(--search-bar-top-bottom-margin) 20px;
  color: #030303;
}

.discover-search-selection {
  width: 160px;
  height: var(--search-bar-height);
  color: rgb(0, 0, 0);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.discover-search-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  min-width: 200px;
  height: var(--search-bar-height);
  color: #030303;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.discover-search-input-options {
  max-height: 300px;
  height: fit-content;
  overflow-y: scroll;
}

.add-remove-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  top: -6px;
  right: -30px;
}

.discover-search:hover .add-remove-buttons {
  visibility: visible;
}

.add-search-button,
.remove-search-button {
  border: none;
  background-color: transparent;
  width: fit-content;
  height: auto;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.add-search-button:hover,
.remove-search-button:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
/* END Discover Search Bar */

/* Sort Bar */
#sort-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: var(--search-bar-height);
  margin: var(--search-bar-top-bottom-margin) auto;
  background-color: transparent;
  border-radius: 5px;
}

#sort-label {
  display: flex;
  align-items: center;
  width: fit-content;
  height: var(--search-bar-height);
  padding: 5px 10px;
  color: black;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#sort-by-selection {
  background-color: white;
  height: 100%;
  width: 150px;
  margin: auto;
  padding: 5px 10px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

/* Sort Arrow */
#sort-arrow-button {
  border: none;
  background-color: var(--accent-color);
  color: white;
  border-radius: 0px 5px 5px 0px;

  width: fit-content;
  padding: 5px 10px;
}

#sort-arrow-button:hover {
  background-color: var(--accent-color-dark);
}

#sort-arrow-button img {
  width: 20px;
  height: 20px;
}

.arrow-up {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.arrow-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
/* END Sort Arrow */
/* END Sort Bar */

/* Search Button */
#search-btn {
  margin: var(--search-bar-top-bottom-margin) auto;
  background-color: var(--accent-color);
  color: white;
  width: 200px;
  height: var(--search-bar-height);
  border: none;
  border-radius: 5px;
  font-size: 1.15rem;
}

#search-btn:hover {
  background-color: var(--accent-color-dark);
}
/* END Search Button */

/* Card Containers */
#card-container,
#favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Container Specific Card Styles */
#favorites-container .media-card {
  width: 200px;
  height: 375px;
}

#card-container .media-card {
  width: 300px;
  height: 525px;
}

#favorites-container .media-card img {
  width: 200px;
  height: 300px;
}

#card-container .media-card img {
  width: 300px;
  height: 450px;
}
/* END Container Specific Card Styles */

/* All Media Card Styles */
.media-card {
  margin: 1rem;
  background-color: var(--accent-color);
  border-radius: 3px;
  box-shadow: 0.2rem 0.4rem 0.5rem black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.media-card .favorite-button {
  position: absolute;
  top: 0;
  right: -10px;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  z-index: 100;
  visibility: hidden;
}

/* Make it show up on hover*/
.media-card:hover .favorite-button {
  visibility: visible;
}

.media-title {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 0.5px;
}

.media-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.75rem 1rem;
  letter-spacing: 0.5px;
  margin: auto 0px;
}

.media-info h2 {
  font-size: 1rem;
  margin: 0rem;
  padding: 0rem;
}

.media-info span {
  background-color: rgb(24, 24, 24);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.media-info span.green {
  color: green;
}

.media-info span.orange {
  color: rgb(236, 106, 0);
}

.media-info span.red {
  color: rgb(128, 0, 0);
}

.media-info span.white {
  color: rgb(255, 255, 255);
}

/* Overview */
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  height: 60%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
  color: black;
}

.media-card:hover .overview {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  color: black;
}

.overview p,
h3 {
  color: black;
}

.overview h3 {
  text-align: center;
}
/* END Overview */
/* END All Media Card Styles */

/* Hover.css */
/* * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover */

/* Grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@media (hover: hover) {
  .hvr-grow:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.025);
  }
}

/* Sidebar */
#sidebarContainer {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  width: fit-content;
  left: 0;
}

/* The collapsable sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  width: 300px;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.sidebar-header {
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 15px;
}

.sidebarOpened {
  left: 0px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebarClosed {
  left: -300px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* The button used to open the sidebar */
#sidebarOpenBtn {
  position: fixed;
  font-size: 15px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 8px 12px;
  border: none;
  left: -35px;
  top: 80vh;
  z-index: 1000;
  transform: rotate(-90deg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#sidebarOpenBtn:hover {
  background-color: #444;
}

.sidebarOpenBtnHidden {
  opacity: 0;
}

.sidebarOpenBtnVisible {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: sticky;
  float: right;
  top: 0px;
  right: 12px;
  font-size: 36px;
  height: min-content;
  opacity: 0;
  transition: 0.3 ease-in-out;
}

.sidebar:hover .closebtn {
  opacity: 1;
  transition: 0.3 ease-in-out;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* END Sidebar */

/* TODO Find out if this is used */
/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
  height: auto;
  max-height: 320px; /* Increase / Decrease value as per your need */
  overflow-x: hidden;
}

/* Media Modal */
#mediaModal {
  z-index: 10000;
  color: #030303;
}

/* #modalTrailer {

} */

#modalTitle {
  font-size: 1.35rem;
  font-weight: 600;
  margin: 0px;
}

#modalstreamingavailability {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

#modalstreamingavailability a img {
  width: auto;
  height: 6rem;
  margin: 0.5rem;
}
/* END Media Modal */

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 40px auto 20px auto;
}

footer p {
  font-size: 0.8rem;
  color: white;
  margin: auto 0px;
}

footer .ourInfo {
  font-size: 1rem;
  color: white;
  margin: 0.8rem 0px;
}

footer img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.3rem;
}
/* END Footer */

/* Page Nav */
#page-nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#page-nav ul {
  background-color: var(--accent-color);
  border-radius: 5px;
  width: fit-content;
  height: var(--search-bar-height);
}

#page-nav li {
  height: 100%;
}

#page-nav li .disabled {
  color: rgb(137, 126, 126);
}

#page-nav li a:visited {
  color: white;
}

#page-nav p {
  color: rgb(0, 0, 0);
  background-color: white;
  min-width: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-nav a {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#page-nav a:hover {
  background-color: var(--accent-color-dark);
}
/* END Page Nav */
