/* Use consistent background color variable */
:root {
  --background-color: rgb(60, 60, 60);
  --secondary-color: #030303;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--background-color);
  background-image: url("../images/pattern-randomized.png");
  /* background by SVGBackgrounds.com */
  /* TODO Get the SVG and extend it? */
  background-size:contain;
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

header {
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  position: relative;
  overflow: visible;
}

.main-curtain {
  background-image: url("../images/backdrop-curtain-rev1.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 100% 100%;
  background-color: #0303037d;
  height: 425px;
  width: auto;
}

.side-curtains {
  position: absolute;
  width: auto;
  height: 525px;
  background-color: none;
  z-index: 1000;
  top: -40px;
  transform: translate(-20px 0px);
  transform: 0.3s ease-in-out;
  overflow: hidden;
}

.left-curtain {
  left: 0;
  transition: left 0.6s ease-in-out;
}

.right-curtain {
  right: 0;
  transform: scaleX(-1);
  transition: right 0.6s ease-in-out;
}

header:hover .left-curtain {
  transform: translate(-20px, 0px);
  left: -40px;
}

header:hover .right-curtain {
  right: -40px;
}

#quote-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 75%;
  cursor: pointer;
  margin: auto;
}

#quote-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0px 5%;
  width: 100%;
}

#search-bar-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}

#search-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 80%;
  height: 100%;
  background-color: #cacaca00;
  z-index: 100;
}

#search-bar .search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: fit-content;
  height: 100%;
  position: relative;
  margin: 10px 20px;
}

#search-bar .search-input {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 300px;
  height: 40px;
  max-width: 100%;
  padding: 5px 10px;
  color: #030303;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.add-remove-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: -30px;
}

.search-box:hover .add-remove-buttons {
  visibility: visible;
}

.add-search-button,
.remove-search-button {
  border: none;
  background-color: transparent;
  width: fit-content;
  height: auto;
}

#search-btn {
  margin: 0 auto;
  background-color: #661417;
  color: #cacaca;
  width: 175px;
}

#card-area {
  margin: auto;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

#sort-box {
  border: 1px solid #661417;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  /* position: absolute;
  top: 0; */
}

#sort-label {
  border: none;
  font-size: 0.8rem;
  width: fit-content;
  height: 100%;
  margin: auto;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  /* text-transform: uppercase; */
  background-color: #bcbcbc;
}

#sort-option .dropdown {
  height: 100%;
}

.search-selection, .sort-selection {
  height: 100%;
  border: none;
  border-radius: 0;
  margin: auto;
  padding: 5px 10px;
  color: rgb(0, 0, 0);

  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#sort-arrow-button {
  border: none;
  background-color: #661417;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: fit-content;
}

#sort-arrow-button:hover {
  background-color: #350f10;
}

.arrow-up {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.arrow-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#card-area {
  padding: fit-content;
  width: fit-content;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: #661417;
  border-radius: 3px;
  box-shadow: 0.2rem 0.4rem 0.5rem black;
  position: relative;
  overflow: hidden;
}

.custom-shadow {
  box-shadow: 0.2rem 0.4rem 0.5rem black;
}

.movie .favorite-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  z-index: 100;
  visibility: hidden;
}

/* Make it show up on hover*/
.movie:hover .favorite-button {
  visibility: visible;
}

/* Prevent image distortion */
.movie img {
  width: 300px;
  height: 450px;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.75rem 1rem;
  letter-spacing: 0.5px;
}

/* Should be h2 to match HTML */
.movie-info h2 {
  font-size: 15px;
  margin: 0px;
}

.movie-info span {
  background-color: rgb(24, 24, 24);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: rgb(236, 106, 0);
}

.movie-info span.red {
  color: rgb(128, 0, 0);
}

.movie-info span.white {
  color: rgb(255, 255, 255);
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  height: 60%; /* TODO Revert to max-height 100%? */
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
  color: black;
  overflow-y: scroll;
}

/* .overview p {
  height: 100%;
  overflow-y: scroll;
} */

/* https://stackoverflow.com/questions/22808040/fading-out-text-on-overflow-with-css-if-the-text-is-bigger-than-allowed
.overview:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 80%, white);
  color: black;
} */

.movie:hover .overview {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  color: black;
}

.overview p,
h3 {
  color: black;
}

/* TODO Do this better! Just targetting the two current ul's*/
ul {
  margin: 10px auto;
  justify-content: center !important;
}

/* Hover.css */
/* * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover */

/* Grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@media (hover: hover) {
  .hvr-grow:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.025);
  }
}

/* The collapsable sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position: sticky;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  top: 0;
  z-index: 100;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* end of collapsable sidebar menu */

.container {
  margin-top: 5%;
}
/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
  height: auto;
  max-height: 320px; /* Increase / Decrease value as per your need */
  overflow-x: hidden;
}
